$cardHeight: 15em;

.crewsPage {
  justify-items: center;

  & .-crew {
    // align-items: center;
    justify-content: center;
    margin-top: 5em;
    

    & .__card {
      min-width: 75em;
      align-items: "center";
      margin-top: 8px;
      margin-bottom: 8px;
      min-height: $cardHeight;
      
      
      & .--day {
        min-height: 100%;

        & .--card {
          min-width: 15em;
        

        }

        & .--crew-day {
          font-size: 1.8em;
          
        }
        & .--summary {
          min-height: $cardHeight;
          justify-content: space-evenly;
          
        }
        & .--list {
          font-size: 1em;
          margin-right: 2em;
          margin-left: 2em;
          align-items: center;
        }
      }
      
    }
  }
  @media (min-width: 850px) {
    .__card {
      margin: 120px 50px 50px 50px;
      width: 50vw;
      float: right;
    }
  }
}
