$fontFamily: 'Yantramanav', 'sans-serif';

body {
  margin: 0;
  padding: 0;
  min-height: max-content;
  font-family: $fontFamily;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: max-content;

  .MuiTypography-root {
    font-family: $fontFamily;
    font-weight: 900;
  }
  .MuiPaper-root {
    font-family: $fontFamily;
  }
  .MuiButton-root {
    font-family: $fontFamily;
    font-weight: 900;
    font-size: 1.2em;
  }
  .MuiAppBar-root {
    background-color: rgb(90, 77, 57);
    background-image: url("https://acegif.com/wp-content/gif/outerspace-6.gif");
  }
  .MuiMenuItem-root {
    font-family: $fontFamily;
    font-weight: 900;
    font-size: 1.2em;
  }
  .MuiBadge-root {
    margin-left: 20px;
  }
  .css-1pqe9yl-MuiPaper-root {
    background-image: url("https://acegif.com/wp-content/gif/outerspace-6.gif");;
    background-color: rgb(66, 72, 167);
  }

  .completed-jobcard {
    background-color: rgba(214, 152, 152, 0.849);
  }

  .page-header {
    background-image: url("https://acegif.com/wp-content/gif/outerspace-58.gif)");
  }

  .card-bg {
    background-image: url("https://www.transparenttextures.com/patterns/grey-sandbag.png");;
    background-color: rgb(66, 72, 167);
  }
  
  .font-color {
    color: #DBEAF3;
  }
}
code {
  font-family: $fontFamily;
}
