
.crew-nav {
  background-image: url("https://acegif.com/wp-content/gif/outerspace-58.gif");
  min-width: 26em;
  min-height: 6em;

  & .rocket {
    position: absolute;
    left: .5em;
    font-size: 4em;
    top:0;
  }
  & .quote-button {
    position: absolute;
    right: 2em;
    top: 2em;
    background-image: url("https://acegif.com/wp-content/gif/outerspace-58.gif");
    color: whitesmoke;
    
  }
}
